<div class="lg:w-1/2">
  <div class="lg:flex justify-between mb-6">
    <div class="">
      <div class="text-1xl font-bold mb-3">Mot de passe</div>
      <div class="text-sm">
        Entrer le mot de passe actuel pour changer votre mot de passe
      </div>
    </div>
  </div>
  <hr class="h-px bg-gray-300 border-0 dark:bg-gray-700">
  <div class="grid lg:grid-cols-3 gap-6 my-6">
    <div class="label">
          Mot de passe actuel
    </div>
    <div class="col-span-2">
        <input type="password" value="password" id="first_name" class="bg-white border border-gray-500 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-15" placeholder="prénom" required>
    </div>
  </div>
  <!-- <hr class="h-px bg-gray-300 border-0 dark:bg-gray-700">
  <div class="grid lg:grid-cols-3 gap-6 my-6">
    <div class="label">
          Mot de passe actuel
    </div>
    <div class="col-span-2">
        <input type="password" value="password" id="first_name" class="bg-white border border-gray-500 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-15" placeholder="prénom" required>
    </div>
  </div> -->
  <hr class="h-px bg-gray-300 border-0 dark:bg-gray-700">
  <div class="grid lg:grid-cols-3 gap-6 my-6">
    <div class="label">
        Nouveau mot de passe
    </div>
    <div class="col-span-2">
        <input type="password" value="password" id="first_name" class="bg-white border border-gray-500 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-15" placeholder="prénom" required>
    </div>
  </div>
  <hr class="h-px bg-gray-300 border-0 dark:bg-gray-700">
  <div class="grid lg:grid-cols-3 gap-6 my-6">
    <div class="label">
        Confirmer le nouveau mot de passe
    </div>
    <div class="col-span-2">
        <input type="password" value="password" id="first_name" class="bg-white border border-gray-500 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-15" placeholder="prénom" required>
    </div>
  </div>
  <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700">
  <div class="flex justify-end">
    <div class="">
      <button type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">Annuler</button>
      <button type="button" class="text-white btn-login focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Changer mot de passe</button>
    </div>
  </div>
</div>
