
.logo-self img {
  width: 80%;
}
.main-content {
  background-color: #f4f4f4 !important;
  min-height: 100vh;
}

.active-link {
  background-color: #d1e2f1;
  color: #29587e;
}
.active-link svg {
  color: #29587e;
}
