.login-page{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(246, 249, 253);
}
input {
  height: 40px;
  border-radius: 8;
  border: 0.09em solid #667085;
  padding-left: 12px ;
}
.logo-icon {
  width: 140px; height: 110px;
  background-repeat: no-repeat;
}

.btn-login {
  background-color: #1d71b8;
}

.modal-connexion-socialicon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.card-login{
  padding: 10px 5% 10px 5%;
}

@media only screen and (max-width: 1000px) {
  .image-login {
    display: none;
  }
  .login-page{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(246, 249, 253);
  }
  .card-login{
    display: grid;
    place-items: center;
  }
}

@media screen and (max-width: 500px) {
  .card-login{
    padding: 5%;
  }
}
